---
layout: base
---

{% include header.html type="page" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

     <!--- {% for person in page.persons %}
      <div> {{ person.name }} {{person.age}} </div>
      {% if person.occupation == 'Developer' %}
      <div style="color: red;"> {{ person.occupation }}</div>
       {% else %}
        <div style="color: blue;"> {{ person.occupation }}</div>
      {% endif %}
      {% endfor %}

      {% for person in site.data.angestellte %}
      <div> {{ person.name }} {{person.age}}  </div>
      {% if person.occupation == 'Hausmeister' %}
      <div style="color: red;"> {{ person.occupation }}</div>
       {% else %}
        <div style="color: blue;"> {{ person.occupation }}</div>
      {% endif %}
      {% endfor %}

      <div >
        <img src="{{site.data.images[0].link}}" alt="Post thumbnail"> ---> 
    </div>

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</div>
